<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppID" value="1"/>
    <add key="IsFileLoad" value="true"/>
    <add key="IsRemote" value="true"/>
    <add key="SolutionId" value=""/>
    <add key="SolutionVersion" value="1"/>
    <add key="RemoteConfigServerUrl" value="http://api.xieqj.cn/config/remoteservice.svc"/>
    <add key="LocalConfigFilePath" value="D:\websites\Api\RemoteConfig.xml"/>
  </appSettings>
</configuration>