<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppID" value="1"/>
    <add key="IsFileLoad" value="true"/>
    <add key="IsRemote" value="false"/>
    <add key="SolutionId" value="95eba8a2-ec35-4a61-a7bd-12aafdccc8c7"/>
    <add key="SolutionVersion" value="1"/>
    <add key="RemoteConfigServerUrl" value="http://api.xieqj.cn/config/remoteservice.svc"/>
    <add key="LocalConfigFilePath" value="D:\Github\Micro-enterpriseDistributedSystem\InformationModule\C#\mds\UnitTest\Config\RemoteConfig.xml"/>
  </appSettings>
  <connectionStrings>
    <add name="socialsite" connectionString="Data Source=192.168.100.4;Initial Catalog=socialsite;Persist Security Info=True;User ID=dbuss;password=123456" />
  </connectionStrings>
</configuration>